[submodule "minecraftsp-anjocaido"]
	path = minecraftsp-anjocaido
	url = git+ssh://aur@aur.archlinux.org/minecraftsp-anjocaido.git
	branch = master
[submodule "repacman"]
	path = repacman
	url = git+ssh://aur@aur.archlinux.org/repacman.git
	branch = master
[submodule "telegram-desktop-bin"]
	path = telegram-desktop-bin
	url = git+ssh://aur@aur.archlinux.org/telegram-desktop-bin.git
	branch = master
[submodule "devscripts"]
	path = devscripts
	url = git+ssh://aur@aur.archlinux.org/devscripts.git
	branch = master
[submodule "telegram-desktop-bin-dev"]
	path = telegram-desktop-bin-dev
	url = git+ssh://aur@aur.archlinux.org/telegram-desktop-bin-dev.git
	branch = master
[submodule "gadget-deadbeef-dhcp"]
	path = gadget-deadbeef-dhcp
	url = git+ssh://aur@aur.archlinux.org/gadget-deadbeef-dhcp.git
	branch = master
[submodule "gadget-deadbeef-legacy-dhcp"]
	path = gadget-deadbeef-legacy-dhcp
	url = git+ssh://aur@aur.archlinux.org/gadget-deadbeef-legacy-dhcp.git
	branch = master
[submodule "gnome-defaults-list"]
	path = gnome-defaults-list
	url = git+ssh://aur@aur.archlinux.org/gnome-defaults-list.git
	branch = master
[submodule "popcorntime"]
	path = popcorntime
	url = git+ssh://aur@aur.archlinux.org/popcorntime.git
	branch = master
[submodule "telegram-desktop-dev"]
	path = telegram-desktop-dev
	url = git+ssh://aur@aur.archlinux.org/telegram-desktop-dev.git
	branch = master
[submodule "telegram-qt-git"]
	path = telegram-qt-git
	url = git+ssh://aur@aur.archlinux.org/telegram-qt-git.git
	branch = master
[submodule "telepathy-morse-git"]
	path = telepathy-morse-git
	url = git+ssh://aur@aur.archlinux.org/telepathy-morse-git.git
	branch = master
[submodule "obs-service-tar_scm-git"]
	path = obs-service-tar_scm-git
	url = git+ssh://aur@aur.archlinux.org/obs-service-tar_scm-git.git
	branch = master
[submodule "gecode"]
	path = gecode
	url = git+ssh://aur@aur.archlinux.org/gecode.git
	branch = master
[submodule "nodejs-localtunnel"]
	path = nodejs-localtunnel
	url = git+ssh://aur@aur.archlinux.org/nodejs-localtunnel.git
	branch = master
[submodule "franz"]
	path = franz
	url = git+ssh://aur@aur.archlinux.org/franz.git
	branch = master
[submodule "po-debconf"]
	path = po-debconf
	url = git+ssh://aur@aur.archlinux.org/po-debconf.git
	branch = master
[submodule "perl-file-dirlist"]
	path = perl-file-dirlist
	url = git+ssh://aur@aur.archlinux.org/perl-file-dirlist.git
	branch = master
