# Format defined here:
# https://nvchecker.readthedocs.io/en/latest/usage.html#configuration-files
# Examples here:
# https://github.com/lilydjwg/nvchecker/blob/master/sample_config.toml

[__config__]
oldver = "old.json"
newver = "new.json"
keyfile = "nvchecker_keys.toml"

[popcorntime]
source = "github"
github = "popcorn-time-ru/popcorn-desktop"
prefix = "v"
use_latest_release = true

[xmrig-mo-cuda]
source = "github"
github = "MoneroOcean/xmrig-cuda"
use_latest_release = true
from_pattern = 'v([0-9.]+)-mo(\d+)'
to_pattern = '\1mo\2'
